@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap");
@import url(./animation.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(197, 184, 161, 0.7);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: antiquewhite;
}

body {
  font-size: 20px;
  font-family: "Andada Pro", serif;
}

a {
  all: unset;
  cursor: pointer;
}

.navbar {
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.7) 100%);
  z-index: 99;
}

nav {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

.brand {
  font-family: "Style Script", cursive;
}

main {
  padding-top: 7%;
  height: fit-content;
}

.jumbotron {
  padding: 0 15rem;
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background: url(../media/blob-scene-haikei.svg) no-repeat; */
  /* background-size: 50%; */
  background: linear-gradient(70deg, #fff, #000);
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

.jumbotron h2 {
  font-weight: lighter;
  font-size: 80px;
  font-family: "Style Script", cursive;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  animation: shadow 1.7s ease-in-out infinite alternate;
}

.about h3 {
  margin: 1em 0;
  font-size: 1.3em;
}

.about,
.pict {
  margin-bottom: 3rem;
}

.pict img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.pendidikan {
  padding: 2em 7em;
  background-color: #bbb;
}

.pendidikan h2 {
  margin-bottom: 1em;
  text-align: center;
}

footer {
  padding: 0.5em;
  position: relative;
  background-color: aqua;
  text-align: center;
}

footer h3 {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.icon {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1em;
  color: #fff;
}

.icon a {
  font-size: 1.1em;
  animation: first_color 1.5s ease-in-out infinite alternate;
}

.icon p {
  margin-top: 10px;
}

footer>p {
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: bold;
}