@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url(./animation.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(197, 184, 161, 0.7);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(251, 252, 168);
}

body {
  font-size: 20px;
  font-family: "Andada Pro", serif;
  background-color: #eee;
  background: url(../media/66.\ Yellow\ sand.png) no-repeat;
}

a {
  all: unset;
  cursor: pointer;
}

.secret {
  all: unset;
  color: rgba(0, 0, 0, 0.05);
}

.secret:hover {
  color: red;
}

.secret_message {
  display: none;
}

.visible {
  display: inline;
}

.navbar {
  padding: 1em 5em;
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg, transparent, rgba(240, 229, 80, 0.4) 90%);
  z-index: 99;
}

.brand {
  font-size: 1.7em;
  font-family: "Dancing Script", cursive;
}

main {
  padding: 0 15rem;
  height: fit-content;
}

.jumbotron {
  background-size: cover;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  position: relative;
}

.container__diagonal {
  border-radius: 40px 0;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 110px;
  left: 0px;
  height: 70%;
  width: 100%;
  transform: skewY(-3deg);
  box-shadow: -14px 14px 20px rgba(0, 0, 0, 0.05), 14px -14px 20px rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.jumbotron h2 {
  font-weight: lighter;
  font-size: 80px;
  font-family: "Style Script", cursive;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  animation: shadow 3s ease-in-out infinite alternate-reverse;
}

.about h3 {
  margin: 1em 0;
  font-size: 1.3em;
}

.about,
.pict {
  margin-bottom: 3rem;
}

.pict img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background: url(../media/low-poly-grid-haikei.svg);
  background-size: cover;
}

.container {
  padding-top: 2em;
}

.container h2 {
  margin-bottom: 1em;
  font-size: 1.7em;
  text-align: center;
}

.container p {
  text-align: justify;
}

.content {
  margin: 3em 0;
}

.content h5 {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.ringkas {
  display: flex;
}

.study {
  width: 50%;
  display: inherit;
  flex-direction: column;
  gap: 20px;
}

.content-table {
  width: 50%;
}

.content-table th {
  padding-right: 10px;
  text-align: start;
}

.music-box {
  display: none;
}

footer {
  padding: 0.5em;
  border-top-left-radius: 20%;
  border-top-right-radius: calc(40% * 1px);
  position: relative;
  background-color: moccasin;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}

footer h3 {
  margin-top: 0.5em;
  font-size: 1.2em;
}

.icon {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #fff;
}

.icon a {
  font-size: 1.1em;
  animation: first_color 1.5s ease-in-out infinite alternate;
}

.icon p {
  margin-top: 10px;
}

footer>p {
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: bold;
}