@media screen and (max-width: 992px) {
  main {
    padding: 0 5rem;
  }
  .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .jumbotron h2 {
    margin-top: 1rem;
    font-size: 60px;
  }
  .container {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1em 1rem;
  }
  .brand {
    font-size: 1.5em;
  }
  main {
    padding: 0 2rem;
  }
  .jumbotron h2 {
    font-size: 50px;
  }
  .about h3 {
    margin-top: 0;
  }
  .ringkas {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .study,
  .content-table {
    width: 100%;
  }
  footer h3 {
    margin: 0 1rem;
    font-size: 1em;
  }
  .icon {
    margin: 2em;
    flex-wrap: wrap;
  }
}